

<section style="width: 100%; height: 600px; background-image: url({{asset "img/betterocean.svg"}}); background-size: cover !important; top: 100%; position: absolute;">
                    <div class="container">
                        <div class="row">
                            <div class="lqd-column col-md-12 pull-down">
                                <div class="lqd-column-inner border-radius-15 bg-cover bg-center">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 px-md-4 text-center" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"120","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":70,"translateZ":-150,"rotateX":-65,"opacity":0},"animations":{"translateY":0,"translateZ":0,"rotateX":0,"opacity":1}}'>
                                            <h2 class="px-md-4 text-white">You like us. We like you. </h2>
                                            <p class="text-white mb-55">Let's make this happen.  The call is free and we promise not to pitch you anything.  At the very least, you'll be able to share your business challenges with a sympathetic ear.</p>
                                            <a href="{{@site.url}}/schedule"  class="btn btn-primary circle text-uppercase ltr-sp-1 size-xl font-weight-bold liquid-lp-read-more" style="z-index:999 !important;">
													<span>
														<span class="btn-primary">Schedule Consultation</span>
													</span>
												</a>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.lqd-column-inner -->
                            </div>
                            <!-- /.col-md-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
               