		<div class="lqd-promo-cat">
											<ul class="reset-ul">
												<li>												<li>taming businesss &amp; marketing nightmares</li>
											</li>
											</ul>
										</div><!-- /.lqd-promo-cat -->
								