<section id="testimonials" class="vc_row pt-50 pb-120">
			<div class="container">
				<div class="row">

					<div class="lqd-column col-md-12">

						<div class="carousel-container carousel-nav-floated carousel-nav-right carousel-nav-vertical carousel-nav-line-between carousel-nav-lg carousel-nav-bordered carousel-nav-circle carousel-dots-style1 carousel-nav-light">

							<div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left", "prevNextButtons":true, "buttonsAppendTo":"self", "pageDots":false, "fullwidthSide":true, "groupCells":false, "pauseAutoPlayOnHover":false, "navArrow":"6", "navOffsets":{"nav":{"right":" 100px"}}}'>

								<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9">

											<div class="testimonial testimonial-avatar-shadowed text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
														<h6 class="mt-0 mb-30 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">words from our clients</h6>
														<p class="font-size-1-5x lh-16"><em>"For eight years, we haven't been able to boil down our offering and make it palatable.  In a highly complex industry and business, you just did that."</em></p>
													</blockquote>
												</div><!-- /.testimonial-quote -->
												<div class="testimonial-details">
												
													<div class="testimonial-info">
														<h5 class="text-white">Dr. Sandy F.</h5>
														<h6 class="font-weight-normal">SVP, Metabolon</h6>
													</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->

										</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->

								<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9">

											<div class="testimonial testimonial-avatar-shadowed text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
														<h6 class="mt-0 mb-30 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">nice words from nice clients</h6>
														<p class="font-size-1-5x lh-16"><em>“Eugenia is very detail-oriented, which is essential in her line of work; she has a keen eye for relevant digital content, and is superb at understanding a brief, communicating her ideas, and delivering standout results on time and in budget.”</em></p>
													</blockquote>
												</div><!-- /.testimonial-quote -->
												<div class="testimonial-details">
													<figure class="avatar">
														<img src="./assets/demo/team/team-4.jpg" alt="Dylan Gordon">
													</figure>
													<div class="testimonial-info">
														<h5 class="text-white">Dylan Gordon</h5>
														<h6 class="font-weight-normal">Conecom Creative Director</h6>
													</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->

										</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->

								<div class="lqd-column col-xs-12 carousel-item">

									<div class="row">
										<div class="col-md-9">

											<div class="testimonial testimonial-avatar-shadowed text-left text-white">
												<div class="testimonial-quote">
													<blockquote>
														<h6 class="mt-0 mb-30 font-size-14 text-uppercase font-weight-bold ltr-sp-2 text-secondary">nice words from nice clients</h6>
														<p class="font-size-1-5x lh-16"><em>“Eugenia is very detail-oriented, which is essential in her line of work; she has a keen eye for relevant digital content, and is superb at understanding a brief, communicating her ideas, and delivering standout results on time and in budget.”</em></p>
													</blockquote>
												</div><!-- /.testimonial-quote -->
												<div class="testimonial-details">
													<figure class="avatar">
														<img src="./assets/demo/team/team-4.jpg" alt="Dylan Gordon">
													</figure>
													<div class="testimonial-info">
														<h5 class="text-white">Dylan Gordon</h5>
														<h6 class="font-weight-normal">Conecom Creative Director</h6>
													</div><!-- /.testimonial-info -->
												</div><!-- /.testimonial-details -->
											</div><!-- /.testimonial -->

										</div><!-- /.col-md-9 -->
									</div><!-- /.row -->

								</div><!-- /.lqd-column col-xs-12 carousel-item -->

							</div><!-- /.carousel-items row -->

						</div><!-- /.carousel-container -->

					</div><!-- /.lqd-column col-md-12 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
