{{!< default}}
    <main id="content" class="content bg-dark">
		{{> "content/lotofballs"}}
        {{> "content/about-us"}}
		{{> "content/flipbox-services"}}
		{{> "content/whatwearegoodat-about"}}
		{{> "brand/client-logos"}}
		{{> "brand/testimonials"}}
		{{> "layout/latestposts"}}
		

	</main><!-- /#content.content -->

   {{#contentFor "styles"}}
   {{/contentFor}}
   {{#contentFor "scripts"}}
   <script src="{{asset "js/theme-vendors.js"}}"></script>
   <script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}
