{{!< default}}

{{#contentFor "page-styles"}}
    <link rel="stylesheet" href="{{@site.url}}/assets/css/themes/freelancer.css" />

{{/contentFor}}


	    <main id="content" class="content bg-dark">
		{{> "content/lotofballs"}}
        {{> "content/about-us"}}
        {{> "brand/client-logos"}}
		{{> "brand/testimonials"}}
		        {{> "content/flipbox-services"}}
				{{> "templates/latest-posts/1"}}
				{{> "templates/latest-posts/2"}}
				{{> "templates/latest-posts/3"}}
				{{> "templates/latest-posts/4"}}
				{{> "templates/latest-posts/5"}}
				{{> "templates/latest-posts/6"}}
				{{> "templates/latest-posts/7"}}
				{{> "templates/latest-posts/8"}}
				{{> "templates/latest-posts/9"}}




	    </main><!-- /#content.content -->
