{{!< default}}

{{navigation}}

			<main id="content" class="content bg-dark" data-liquid-stack="true" data-stack-options='{"navigation":true, "prevNextButtons":true,"prevNextLabels":{"prev":"","next":""}, "pageNumber":false, "effect":"fadeScale"}'>

				{{> content/home/cthulu}}
				{{> content/home/bob}}
				{{> content/home/ducky}}
				{{> content/home/cutie}}
				{{> content/home/dragon}}
				<!--about-->
				<a name="about-us"></a>
				 <section id="content about" class="content bg-dark">
        {{> "content/about-us/lotofballs"}}
        {{> "content/about-us/basics"}}
        
		{{> "content/about-us/services"}}
        		{{> "content/about-us/faq"}}

        		{{> "brand/testimonials"}}

		{{> "content/about-us/whatwearegoodat"}}
		{{> "brand/client-logos"}}
		{{> "layout/latestposts"}}
        
		{{> "ui/emailsqueeze"}}


	</section><!-- /#content.content -->
				
			</main><!-- /#content.content -->
{{#contentFor "styles"}}

{{/contentFor}}
{{#contentFor "scripts"}}
		    <script src="{{asset "js/theme-vendors.js"}}"></script>
			
			           <script src="{{asset "vendors/pagePiling/dist/jquery.pagepiling.min.js"}}"></script>

  			<script src="{{asset "js/theme.min.js"}}"></script>
			
{{/contentFor}}
{{#contentFor "body-parts"}}
lqd-stack-buttons-style-1 header-style-fullscreen lqd-stack-has-prevnext-buttons lqd-stack-effect-enabled lqd-stack-effect-fadeScale overflow-hidden lqd-stack-initiated pp-viewing-Section-2 lqd-stack-active-row-dark{{/contentFor}}
   