{{!< default}}
			<main id="content" class="content" data-liquid-stack="true" data-stack-options='{"navigation":false,"prevNextButtons":true,"pageNumber":true,"prevNextLabels":{"prev":"Previous","next":"Next"},"effect":"fadeScale", "disableOnMobile": false}'>
				{{> content/cthulu-homepage}}
				{{> content/ducky-homepage}}
				{{> content/shark-homepage}}
				{{> content/dragon-homepage}}
			</main><!-- /#content.content -->
{{#contentFor "styles"}}
{{/contentFor}}
{{#contentFor "scripts"}}
           <script src="{{asset "vendors/pagePiling/dist/jquery.pagepiling.min.js"}}"></script>
		    <script src="{{asset "js/theme-vendors.js"}}"></script>
  			<script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}
{{#contentFor "body-parts"}}
bg-dark lqd-stack-buttons-style-2 header-style-fullscreen lqd-stack-has-nav lqd-stack-has-prevnext-buttons lqd-stack-has-page-numbers lqd-stack-effect-enabled lqd-stack-effect-fadeScale overflow-hidden lqd-stack-initiated lqd-stack-has-footer lqd-stack-active-row-dark
{{/contentFor}}
   