@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

:root {
  --body-bg-color: #e0e5ec;
  --bg-color: #131419;
 
  --primary-font-color: #c7c7c7;
  --secondary-font-color: #03a9f4;
  --soft-high-light: rgba(255,255,255,.05);
  --dark-high-light: rgba(0,0,0,.51);

}

[data-theme="light"] {
  --bg-color: #e0e5ec;
  --primary-font-color: rgba(144,152,168,1);
  --secondary-font-color: rgba(51,64,89,1);

  --soft-high-light: rgba(255,255,255,.43);
  --dark-high-light: rgba(217,210,200,.51);

}

@mixin neumorphic {
  box-shadow: 6px 6px 16px 0 var(--dark-high-light), -6px -6px 16px 0 var(--soft-high-light);
}

@mixin insetNeumorphic {
  box-shadow: inset 6px 6px 5px 0 var(--dark-high-light), inset -6px -6px 5px 0 var(--soft-high-light);
}

@mixin inOutNeumorphic {
  box-shadow: 6px 6px 16px 0 var(--dark-high-light), -6px -6px 16px 0 var(--soft-high-light),inset 6px 6px 5px 0 var(--dark-high-light), inset -6px -6px 5px 0 var(--soft-high-light);
}

* {
  box-sizing: border-box;
}

body {
  background:  var(--body-bg-color);
  color: var(--primary-font-color);
}

.calculator {
  background:  var(--bg-color);
  color: var(--primary-font-color);
}

.display {
  @include inOutNeumorphic;
  border: 5px solid var(--soft-high-light);
  color: var(--secondary-font-color);
}

.neumorphic {
  @include neumorphic;
  border-radius: 50%;
  transition: .1s all ease-in-out;
  border: 1px solid var(--soft-high-light);
}

.neumorphic:hover {
  @include insetNeumorphic;
  color: var(--secondary-font-color);
}    
    
    
    <!--
        {% if page.title %}<meta content="{{ page.title }}" property="og:title">{% else %}<meta content="{{ site.title }}" property="og:title">{% endif %}
        {% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
        {% if page.description %}<meta content="{{ page.description }}" property="og:description">{% else %}<meta content="{{ site.description }}" property="og:description">{% endif %}
        {% if page.url %}<meta content="{{ site.url }}{{ page.url }}" property="og:url">{% endif %}
        {% if page.post_image %}<meta content="{{ page.post_image }}" property="og:image">{% else %}<meta content="{{ site.cover_image }}" property="og:image">{% endif %}
        {% if page.tag %}{% for tag in page.tag %}<meta content="{{ tag }}" property="article:tag">{% endfor %}{% endif %}
        {% if page.categories %}{% for category in page.categories limit:1 %}<meta content="{{ category }}" property="article:section">{% endfor %}{% endif %}
        {% if page.date %}<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">{% endif %}
        -->

         <!-- {% if page.title %}<meta name="twitter:title"   content="{{ page.title }}">{% else %}<meta name="twitter:title"   content="{{ site.title }}">{% endif %}
        {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
        {% if page.post_image %}<meta name="twitter:card"  content="summary_large_image"><meta name="twitter:image" content="{{ site.url }}{{ page.post_image }}">{% else %}<meta name="twitter:card"  content="summary"><meta name="twitter:image" content="{{ site.cover_image }}">{% endif %}
    -->
        <!-- Site Title -->
    <!-- <title>{% if page.title %} {{ page.title }} {% else %} {{site.title}} {% endif %}</title>-->




    {{!< default}}
{{#contentFor "page-styles"}}
   <link href="built/css/extra-post.css"}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/themes/freelancer.css"}}" />
	<link rel="stylesheet" href="css/theme-vendors.min.css"}}" />
 <link rel="stylesheet" href="css/theme.css"}}" />
{{/contentFor}}
{{#contentFor "page-scripts"}}
<script src="js/theme-vendors.js"}}"></script>
   <script src="js/theme.min.js"}}"></script>
{{/contentFor}}


{{! The tag above means: Insert everything in this file into the {body} of the default.hbs template. }}

{{#post}}



		<main id="content" class="content py-0">

			<div class="blog-single-cover scheme-light" data-fullheight="true" data-inview="true" data-inview-options='{ "onImagesLoaded": true }'">

				<figure class="blog-single-media" data-responsive-bg="true" data-parallax="true" data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }' data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
					{{#if feature_image}}<img src="{{feature_image}}" alt="{{title}}">{{else}}<img src="img/bgfull.png"}}" alt="{{title}}">{{/if}}
				</figure>

				<div class="blog-single-details">

					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<header class="entry-header blog-single-header" data-parallax="true" data-parallax-to='{ "opacity": 0, "translateY": "30%" }' data-parallax-options='{ "triggerHook": "0.3" }'>
									<h1 class="blog-single-title entry-title text-center h1" data-split-text="false" data-split-options='{ "type": "lines" }'>{{title}}</h1>
												

								</header><!-- /.blog-single-header -->

							</div><!-- /.col-md-6 -->
						</div><!-- /.row -->
					</div><!-- /.container -->

				</div><!-- /.blog-single-details -->

			</div><!-- /.blog-single-cover -->

			<article class="mt-6 mb-6 blog-single bg-dark scheme-dark liquid-blog-scheme-dark">
				<div class="container">


							<div class="blog-single-content entry-content pull-up expanded">

								{{{content}}}
					<!-- /.blog-single-content entry-content -->
						<div style="height: 25px; width: 25%; margin: 0 auto; padding-bottom: 25px; border-bottom-style:dotted; border-color: #6c5ba7; border-width: 2px;" ></div>
						
						</div><!-- /.col-md-8 -->

						
						</div>
							



				</div><!-- /.comments-area -->


			</article><!-- /.blog-single -->

		</main><!-- /#content.content -->





{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}


{{#contentFor "post-scripts"}}
    <script src="built/js/extra-post.js"}}"></script>
    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>
{{/contentFor}}
