			
	<section class="vc_row fullheight d-flex flex-wrap align-items-center py-5 py-md-0 bg-dark">

				{{> "particles" }}
					<div class="container">
						<div class="row">

							<div class="lqd-column col-lg-10 col-lg-offset-1">

								<div class="lqd-promo-wrap text-white">
									<div class="lqd-promo-inner">
								
										{{> layout/dynamic-shape}}
								
										{{> brand/promo-message}}
								
										<div class="lqd-promo-img">
											<div class="lqd-promo-img-inner" data-reveal="true" data-reveal-options='{ "direction": "rl", "bgcolor": "#7D5BA6", "revealSettings": { "onCoverAnimations": { "scale": [2, 1] } } }'>
																		<picture>
  <source srcset="{{asset "img/renderings/shark.webp"}}" type="image/webp">
  <img class="img-fluid metalpurple" src="{{asset "img/renderings/shark.png"}}" alt="OAKwave marketing strategy">
</picture>	

					</div><!-- /.lqd-promo-img-inner -->
									</div><!-- /.lqd-promo-img -->
								
										<div class="lqd-promo-content"
											data-custom-animations="true"
											data-ca-options='{ "triggerHandler": "inview", "animationTarget": ".btn", "duration": 400, "startDelay": 0, "initValues": { "translateY": 70, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
										>
											<h2
												class="text-white"
												data-split-text="true"
												data-split-options='{ "type": "chars, words" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 0, "delay": 0, "initValues": { "translateX": 70, "rotateY": 65, "opacity": 0 }, "animations": { "translateX": 0, "rotateY": 0, "opacity": 1 } }'
											style="font-size: xx-large;">Facts:</h2><br />
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'
											><div class="fad fa-alien-monster"></div>Hands down, we are the most resourceful, creative, problem-solving marketing geniuses you will ever find. </p>
											
											<p class="less-room"
												data-split-text="true"
												data-split-options='{ "type": "lines" }'
												data-custom-animations="true"
												data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 400, "startDelay": 0, "delay": 0, "initValues": { "translateY": 50, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>
												<i class="fad fa-alien-monster" style="color: $soft-purple; --fa-secondary-opacity: 0.5;"></i></span> &nbsp; &nbsp; We’re really, really good at campaign concepts, branding, content, and strategy... and really, really bad at corporate frills, small talk, and sending Christmas cards.</p><br />
											
										
											
											<p class="less-room"><!--And here's some more info about how we do <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">content, branding, campaigns</a>, or <a class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white" href="#">strategy</a>.  <br />-->
											<a href="#Section-4" class="btn btn-underlined text-uppercase font-size-12 font-weight-bold ltr-sp-2 color-secondary text-hover-white">
												<span>
													<span class="btn-txt">Anything else?<i class="fas fa-arrow-circle-right"></i></span>
												</span>
											</a></p>
										</div><!-- /.lqd-promo-content -->
								
									</div><!-- /.lqd-promo-inner -->
								</div><!-- /.lqd-promo-wrap -->

							</div><!-- /.col-md-8 col-md-offset-2 -->

						</div><!-- /.row -->
					</div><!-- /.container -->

				</section>