{{!< default}}

{{#contentFor "bodyparts"}}
blog
{{/contentFor}}
			
		<div class="titlebar titlebar-sm scheme-light text-center" data-parallax="true" data-parallax-options='{ "parallaxBG": true }' style="background-image: url('{{asset "img/bwrings.svg"}}');">
			
			<header class="main-header">
			{{> "layout/mainbar-wrap"}}
				
			</header><!-- /.main-header -->

			<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }'>An Extremely Opinionated Marketing Blog</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->
			
		</div><!-- /.titlebar -->
	
		<main id="content" class="content bg-light">
						{{> "particles"}}

			<div class="container">
				<div class="row">

					<div class="col-md-8">

						<div class="liquid-blog-posts">
							<div class="liquid-blog-grid liquid-blog-style-classic row">




 {{#get "posts" filter="featured:false" limit="3" include="tags"}}
                 {{#foreach posts}}
								{{> "layout/post-card" }}
{{/foreach}}
{{pagination}}
							{{/get}}

							</div><!-- /.liquid-blog-grid liquid-blog-style-classic row -->
						</div><!-- /.liquid-blog-posts -->

					</div><!-- /.col-md-8 -->

					{{> "layout/sidebar"}}
				</div><!-- /.row -->
			</div><!-- /.container -->
			
		</main><!-- /#content.content -->
		
