.grayme {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.grayme:hover, .grayme:focus {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
        transition: all 0.5s ease;

}

div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.6;
  }

  .box-shadow-dark   {
      /*box-shadow: 10px 10px 5px #c4c4c4;
      transition: all 0.5s ease;*/
     /* background: #000 !important;
*/
  }
  .ld-flipbox-wrap {
    box-shadow: 10px 10px 10px #0e1111 !important;
  }


:root {
    --color-primary: #7254c9 !important;
    --color-secondary: darken(#7254c9, 25%) !important;
    --color-gradient-start: $color-primary !important;
    --color-gradient-stop: darken($color-gradient-start, 50%) !important;
    --white: $white !important;
    --muted-purple: $muted-purple !important;
    --blue: $blue !important;
    --off-gray: $off-gray !important;
    --black: $black !important;
}

.main-nav>li>a .link-ext {
    background: #7254c9 !important;
}