@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

:root {
  --body-bg-color: #212121;
  --bg-color: #131419;
 
  --primary-font-color: #c7c7c7;
  --secondary-font-color: #6c5ba7;
  --soft-high-light: rgba(255,255,255,.05);
  --dark-high-light: rgba(0,0,0,.51);

}

[data-theme="light"] {
  --bg-color: #e0e5ec;
  --primary-font-color: rgba(144,152,168,1);
  --secondary-font-color: rgba(51,64,89,1);

  --soft-high-light: rgba(255,255,255,.43);
  --dark-high-light: rgba(217,210,200,.51);

}

@mixin neumorphic {
  box-shadow: 6px 6px 16px 0 var(--dark-high-light), -6px -6px 16px 0 var(--soft-high-light);
  transition: 2s all ease-in-out;
}

@mixin insetNeumorphic {
  box-shadow: inset 6px 6px 5px 0 var(--dark-high-light), inset -6px -6px 5px 0 var(--soft-high-light);
  transition: 2s all ease-in-out;
  
}

@mixin inOutNeumorphic {
  box-shadow: 6px 6px 16px 0 var(--dark-high-light), -6px -6px 16px 0 var(--soft-high-light),inset 6px 6px 5px 0 var(--dark-high-light), inset -6px -6px 5px 0 var(--soft-high-light);
  transition: 2s all ease-in-out;
}

* {
  box-sizing: border-box;
}
.accordion-title-bordered .accordion-title a {

    border: 0px solid #d8dbe2;
}

.neumorphic-padding {
    padding: 15px;
}
.neumorphic-container {
  background:  #333333;
  border: 5px solid var(--soft-high-light);
  @include inOutNeumorphic;
  color: #ffffff;

}


.neumorphic {
  @include neumorphic;
  padding: 25px;
  color: #ffffff;
  transition: 3s all ease-in-out;
  border: 1px solid var(--soft-high-light);
}

.neumorphic:hover {
    transition: 2s all ease-in-out;
  @include insetNeumorphic;
  

}    
.accordion-title-bordered .accordion-title a {
    color: #ffffff;
}

.accordion-title-bordered .accordion-title .active a {
    color: #6c5ba7;
}
    
.neumorphic-round {
    border-radius: 50%;
}

.neumorphic-rounded-edges {
    border-radius: 10%;
}